In [7]:
userName= {
"Name":["Funmi", "Omolayo", "Daniel", "Olufemi", "Murewa","Bond"],
"Age" : ["12", "14", "18", "20", "19", "21"]
}

if userName["Name"][1] =="Bond":
    print ("Welcome on board 007")
else:
    print("Good morning Name")

Good morning Name

In [3]:
# for Loop

Fruits = ["Mango", "Orange", "Banana","Apple","Pawpaw"]

for f in Fruits:
    print(f)

Mango
Orange
Banana
Apple
Pawpaw

In [15]:
Numbers = [1,10,5,17,18,22,40,45,67,73]
#Numbers

#for num in Numbers:
   # num +=2
   # print(num)
 
#for no in Numbers:
    #if no % 2 ==0:
        #print(no)
        
#for no in Numbers:
    #if no % 2 !=0:
        #print(no)

In [26]:
# Break statement

#Numbers = [1,10,5,17,18,22,40,45,67,73]
#for num in Numbers:
    #print(num)
    #if num ==40:
           # break

In [31]:
names = ["toluwamimi", "Yewande", "Omolola", "Iremide"]

#for n in names:
    #print(n)
    #if n =="Omolola":
        #break

toluwamimi
Yewande
Omolola

In [52]:
#CREATE FUNCTIONS

def Student(name ="Dolapo"):
    print(f'The Student is {name}')

In [53]:
Student(name="Toluwa")

The Student is Toluwa

In [54]:
Student("Wale")

The Student is Wale

In [56]:
def greet(name,Age):
    print(f"Good morning, my name is {name} and I am {Age} years old" )

In [57]:
greet("Tomisin" , 15)

Good morning, my name is Tomisin and I am 15 years old

In [62]:
# CREATE A FUNCTION FOR EVEN AND ODD NUMBER

def check_numbers(num):
    if num % 2 == 0:
        print(f" {num} is an even number")
    else:
        print(f"{num} is an odd number")

In [63]:
check_numbers(37)

37 is an odd number

In [72]:
def check_numbers(num):
    if num % 2 == 0 and num > 30:
        print(f" {num} is an even number and greater than 30")
    else:
        print(f"{num} does not meet the specified condition")

In [70]:
check_numbers(58)

 58 is an even number and greater than 30

In [73]:
check_numbers(22)

22 does not meet the specified condition

In [82]:
# LOCAL VARIABLES AND GLOBAL VARIABLE

# LOCAL VARIABLES ARE VARIABLES SPECIFIED INSIDE THE FUNCTION AND CAN ONLY BE USED WITHIN THE FUNCTION ONLT
#GLOBAL VARIABLE ARE VARIABLE SPECIFIED OUTSIDE THE FUNCTION AND CAN BE USED OUTSIDE THE FUNCTION

#LOCAL VARIABLE
def add_number():
    a = 5
    b = 6
    c = a + b
    
    print(c)

add_number()

11

In [87]:
#GLOBAL VARIABLE
a = 5
b = 6
c = a + b
def add_number():
    print(c)

add_number()

11

In [43]:
# WRITE A FUNCTION TO SUM NUMBER IN ALIST 

# Method 1- using general function
def sum_numbers(numbers):
       print(sum(numbers))
        
sum_numbers([2,3,4,5,6,7])
        

# method 2 -using Global function
#list_of_numbers =[1,2,3,4,7,8,9]
#def sum_list1():
   # print(sum(list_of_numbers))
    
#sum_list1()  

    
#method 3-using Local function
#def sum_numbers():
    #list_of_numbers=[1,2,5,6,10,15]
    #print(sum(list_of_numbers))
    
#sum_numbers()

27

In [95]:
# TO PERFORM MULTIPLICATION FUNCTION, - 
# import Numpy library

import numpy as np

def multiple_numbers(numbers):
    print(np.prod(numbers))
    
multiple_numbers([3,4,2])

24

In [49]:
#TO MULTIPY A PARTICULAR NUMBER FROM TWO OF MORE LIST

List1 = [4,5,3,0,6]
List2 = [2,1,5,7,10]

List1 [0]* List2 [3]

28

In [56]:
# RETURN FUNCTION - string from two lists

def list():
    List1 =["Tolu", "Yemi", "Adeola", "Ijiwade"]
    List2= ["Adewale", "Toyin", "Kolade", "Ogunye"]

    return List1[0], List2[2]

list()

('Tolu', 'Kolade')

In [62]:
# RETURN FUNCTION - number

def number():
    x=5
    y=10
    z=x*y
    return z

number()

50

In [77]:
#LIST OF EVEN NUMBERS - VIA LOOPING & CONDITIONAL STATEMENT

def even_numbers(numbers):
    for i in numbers:
          if i % 2 == 0:
                print (i)
        
even_numbers ([3,2,10,6,13])

2
10
6

In [78]:
#LIST OF ODD NUMBERS - VIA LOOPING & CONDITIONAL STATEMENT

def odd_numbers(numbers):
    for i in numbers:
          if i % 2 != 0:
                print (i)
        
odd_numbers ([3,2,10,6,13])


# if return function is used , it will only return nly one variable. so, it is better to use "print"

3
13

In [91]:
# PYTHON STATEMENT THAT CHECKSPALINDRONE STATEMENT
#Palindrone word, phrase or sequence that read the same backward or forward. e.g madam, peep, poop, mom

# To print the word backward
# you need to incude the double colon
word = "kayak"
word[::-1]

# To print the word forward
word = "madam"
word [0:]

# check if the word is palindrone
# forward = print

def check_palindrone(word):
    if word [0:] == word[::-1]:
        return (word)
    


check_palindrone("madam")

'madam'

In [99]:
# To get type of data input

def Data_type(value):
    return type(value)

Data_type(55.6)

float

In [108]:
# WRITE FUNCTION TO CHECK DATA TYPE BEFORE PERFORMING MATHEMATICAL OPERATION

# Method 1

numb1 = 15
numb2 = "tree"

if type(numb1) ==int and type(numb2) ==int:
    print(numb1+numb2)
    
else:
    print("Type_error")

Type_error

In [123]:
# method 2

numb1 = 7
numb2 = 3

if isinstance(numb1,int) and isinstance(numb2,int):
    print(numb1 + numb2)
    
else: 
    print("type_error")

10

In [127]:
# def function -FUNCTION TO CHECK DATA TYPE BEFORE PERFORMING MATHEMATICAL OPERATION

def check_DataType(num1,num2):
    if isinstance(numb1,int) and isinstance(numb2,int):
        print(numb1 + numb2)
        
    else: 
        print("type_error")  
    

check_DataType(3,4)

10

In [23]:
# ASSIGNMENT 1

def calculate(number1, number2):
       return f"Addition:{number1 + number2}, subtraction:{number1 - number2}"

    
calculate(21,77)

'Addition:98, subtraction:-56'

In [29]:
# ASSIGNMENT 2

def employee(name, salary = 9000):
    return f" employee {name}, employee {salary}"



employee("Toluwa", 10000)

' employee Toluwa, employee 10000'

In [ ]:
#Python Generator

In [41]:
#COMPREHENSION

#Assignment 1

List_of_numbers =[12,10,2,0,6,16,21]
[num+6 for num in List_of_numbers]

[18, 16, 8, 6, 12, 22, 27]

In [48]:
#ASSIGNMENT 2 on comprehension

List_of_numbers=[9,7,3,10,6,8,11,12,5]
[num*num for num in List_of_numbers if num*num >50]

[81, 100, 64, 121, 144]

In [54]:
#Assignment 3 on comprehension

Vehicles_details={
    "brand":"Toyota", "weight_kg":2400,
    "brand":"Mercedes", "weight_kg":5100,
    "brand":"GMC", "weight_kg":2100,
    "brand":"Cheverolet", "weight_kg":2200,
    "brand":"Hyundai", "weight_kg":2500,
    "brand":"Lexus", "weight_kg":5000,  
}

[weight_kg for weight_kg in Vehicles_details if weight_kg<5000]

TypeError: '<' not supported between instances of 'str' and 'int'