In [4]:
# STRING CONCATENATION

name = "Abdulraheem"
type(name)
name[5:]

'raheem'

In [12]:
name[-6:]

'raheem'

In [16]:
first_name = "Joe"
last_name = 'Quwam'

print("My name is " + first_name+" "+last_name)

My name is Joe Quwam

In [23]:
# BOOLEAN 
"""
In programming you often need to know if an expression is True 
or False. You can evaluate any expression in Python, and get 
one of two answers, True or False."""

number1 = 5
number2 = 10

print(number1 > number2)
print(number2 > number1)
print(number1 == number2)

False
True
False

True

In [75]:
# OPERATORS
"""
Python divides the operators in the following groups:

// = FLOOR DIVISION
** = EXPONENTIAL

Arithmetic operators (+, -, /,*, **, //)
Assignment operators (=, -=, +=, *=)
Comparison operators (==, >=, <=, >, <, !=)
Logical operators (AND, OR, NOT)
T AND T = T, T AND F = F, F AND T = F, F AND F = F
T OR F = T, F OR T = T, T OR T = T, F OR F = F
NOT F = T, NOT T = F
Identity operators (IS, IS NOT)
Membership operators (IN, NOT IN)
Bitwise operators (|, &)
| = PIPE / OR
"""

a = 20
b = 9
c = 15

print(False | False)

False

In [79]:
# PEMDAS (Parenthesis,Exponential,Multiplication,Division,Addition,Substraction)

# 190*(35+6-5)/90**2

-61.25

In [95]:
# STRING FORMATTING 
# f - string

name = "Quwam"
occupation = "Artisan"

# print(f"My name is {name} and i am a {occupation}")

# STRING FORMATING WITH THE INPUT FUNCTION
user_name = input("What is your name : ")
user_occupation = input("Your Occupation ? ")
user_years_exp = int(input("How many years of experience did you have ? "))

print()
print(f"""My name is {user_name}, i am {user_occupation}, 
and i have {user_years_exp} years of experience""")


# ASSIGNMENT

# USE THE INPUT FUNCTION TO REQUEST FOR USER'S INFO(NAME, AGE, SCHOOL) AND USE
# THOSE INFORMATION TO CREATE A SENTENCE. NB:DON'T FORGET TO USE THE F-STRINGS

What is your name : Will
Your Occupation ? Lawyer
How many years of experience did you have ? 4

My name is Will, i am Lawyer,
and i have 4 years of experience

In [145]:
# DATA TYPE

# 1. LISTS
# List items are ordered, changeable, and allow duplicate values.
listofvalues = [True,1,2,"jane",True,30.6]

# listofvalues[-1] = 90.4
# listofvalues

# APPEND
fruits = ["Apple", "Cherry", "Mango"]
fruits.append("Pineapple")
fruits.append(10)


# EXTEND
fruits2 = ["Pawpaw", "Guava", "Water Melon"]
# fruits = fruits.extend(fruits2)
# fruits

# INSERT
# fruits.insert(2,"Orange")

# SORT IN ASCENDING ORDER
fruits[-1] = "PawPaw"
fruits.sort()
fruits

# SORT IN DESCENDING ORDER
numbers = [23, 56, 87, 12, 43]
numbers.sort(reverse=True)
numbers

# COPY
number2 = numbers.copy()
# print(number2)
# print(numbers)

# POP METHOD WITHOUT ARGUMENTS
numbers.pop()
numbers

# POP METHOD WITH ARGUMENTS
numbers.pop(1)
numbers

# CLEAR
numbers.clear()
numbers.append(4)
numbers.clear()
numbers

# DELETE
del numbers
# numbers

del number2
number2

NameError: name 'number2' is not defined

In [109]:
print(10 + 5)
print(20 + 6)

15
26

In [ ]:
# 2. TUPLES
# Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
# 3. SETS
# Set items are unordered, unchangeable, and do not allow duplicate values.